body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:black;
}
#circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

#name {
  color:azure
}

#textme {
  margin-top: 5px;
  color: azure;
}

.btn.btn-primary{
background-color:transparent;
border-color: azure;
}
.btn.btn-primary:hover {
  background-color: white;
  border-color: white;
  color: black;
}


.btn.btn-primary:active {
  background-color: rgba(255, 0, 0, 0.5);
  border-color: rgba(255, 0, 0, 0.5);
  color: black;
}
