body {
  background-color:black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.profile-pic {
  height: 100px;
  width: 100px;
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  background-color: blue;
}
